

body {

    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    
    display: flex;src: ;
}

.botao {

    backgroundfixed-color: gray;
    
    border: none;
    border-radius: 8px;
}